CI_ENVIRONMENT = production

app.baseURL = 'https://tricretesystems.infinityfree.me/'

database.default.hostname = sql311.infinityfree.com
database.default.database = if0_41359977_tricretesystems
database.default.username = if0_41359977
database.default.password = InfinityFree619
database.default.DBDriver = MySQLi
database.default.port     = 3306