CI_ENVIRONMENT = production

app.baseURL = 'https://yourdomain.infinityfreeapp.com/'

database.default.hostname = sql_host_from_infinityfree
database.default.database = your_db_name
database.default.username = your_db_user
database.default.password = your_db_password
database.default.DBDriver = MySQLi
database.default.port     = 3306